@model IDM.Models.visual_fim_user
@using  IDM.Services;
@using IDM.Extensions;
@{
    ViewData["Title"] = "MailRequestApproveResetPassword";
}
<div>
    ระบบยืนยันการร้องขอเปลี่ยนรหัสผ่านของท่าน
    <br />
    <br />
    หากท่านไม่ได้ดำเนินการร้องขอเปลี่ยนรหัสผ่านโปรดติดต่อกลับ สำนักบริหารเทคโนโลยีสารสนเทศ เพื่อตรวจสอบ
    <br />
    เบอร์โทร 02-2183314 (ในเวลาทำการ)
    <br />
    หรือ email Help@chula.ac.th
    <table>
        <tr>
            <td style="padding-right:15px">
                <img src="http://idm3.it.chula.ac.th/images/logo.svg" height="30"  />
            </td>
            <td>
                <p>
                    ศูนย์ ICT จุฬาลงกรณ์มหาวิทยาลัย<br />
                    email: ictcenter@cu.ac.th<br />
                </p>
            </td>
        </tr>
    </table>

</div>

