@{
    ViewData["Title"] = "ตรวจสอบสถานะแอคเคาท์";

}

<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                </div>
                <h4 class="page-title">ตรวจสอบสิทธิ์บัญชีรายชื่อผู้ใช้</h4>
                <p class="text-muted">
                    Check Account Status
                </p>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <!--end row-->

    
    <!-- end row -->

</div><!-- container -->


