@model IDM.Models.visual_fim_user
@using IDM.Extensions;
@{
    ViewData["Title"] = "ข้อมูลบัญชีรายชื่อผู้ใช้";
}

<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                </div>
                <h4 class="page-title">ข้อมูลบัญชีรายชื่อผู้ใช้</h4>
                <p class="text-muted">
                    Account Profile
                </p>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <!--end row-->
    <div class="row ">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body mt-3">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="form-group row">
                                <div class="col-sm-4 text-right">
                                    <label class="col-form-label-eng">รหัสผุ้ใช้</label>
                                    <span class="text-eng">Login Name</span>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" asp-for="basic_uid" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="form-group row">
                                <div class="col-sm-4 text-right">
                                    <label class="col-form-label-eng">ชื่อ</label>
                                    <span class="text-eng">First Name</span>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" asp-for="basic_givenname" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="form-group row">
                                <div class="col-sm-4 text-right">
                                    <label class="col-form-label-eng">นามสกุล</label>
                                    <span class="text-eng">Last Name</span>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" asp-for="basic_sn" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="form-group row">
                                <div class="col-sm-4 text-right">
                                    <label class="col-form-label-eng">อีเมล</label>
                                    <span class="text-eng">Email</span>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" asp-for="basic_mail" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="form-group row">
                                <div class="col-sm-4 text-right">
                                    @if (Model.system_idm_user_type == IDMUserType.student)
                                    {
                                        <label class="col-form-label-eng">รหัสนักศึกษา</label>
                                    }
                                    else
                                    {
                                        <label class="col-form-label-eng">รหัสพนักงาน</label>
                                    }
                                    <span class="text-eng">Job Code</span>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" asp-for="cu_jobcode" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="form-group row">
                                <div class="col-sm-4 text-right">
                                    <label class="col-form-label-eng">รหัสบัตรประชาชน หรือ Passport No.</label>
                                    <span class="text-eng">Citizen ID</span>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" asp-for="cu_pplid" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="form-group row">
                                <div class="col-sm-4 text-right">
                                    <label class="col-form-label-eng">วันหมดอายุ</label>
                                    <span class="text-eng">Expire Date</span>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" asp-for="cu_CUexpire" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="form-group row">
                                <div class="col-sm-4 text-right">
                                    <label class="col-form-label-eng">เปลี่ยนรหัสผ่านล่าสุด</label>
                                    <span class="text-eng">Last Password Changed</span>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" value="@DateUtil.ToDisplayDateTime(Model.cu_pwdchangeddate)" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
        <!-- end col -->
    </div> <!-- end row -->
</div><!-- container -->
