@model IDM.DTO.PasswordGenerateDTO
@{
    ViewData["Title"] = "สร้างรหัสผ่าน";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div aria-live="polite" aria-atomic="true" style="position: relative;">
                <div class="page-title-box">
                    <div class="float-right" style="width:50%">
                        @if (ViewBag.ReturnCode != null)
                        {
                            @if (ViewBag.ReturnCode == ReturnCode.Success)
                            {
                                <div class="alert alert-success  border-0" role="alert">
                                    <i class="mdi mdi-check-circle-outline font-18 mr-1"></i>
                                    <strong class="font-18">@ViewBag.Message</strong>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger border-0" role="alert">
                                    <i class="mdi mdi-close-circle-outline font-18 mr-1"></i>
                                    <strong class="font-18">@ViewBag.Message</strong>
                                </div>
                            }
                        }
                    </div>
                    <h4 class="page-title">สร้างรหัสผ่าน</h4>
                    <p class="text-muted">
                        Password Generator
                    </p>
                </div><!--end page-title-box-->

            </div>
        </div><!--end col-->
    </div>
    <!--end row-->
    <form class="form-horizontal form-parsley" novalidate role="form" asp-action="PasswordGenerator" asp-controller="System">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body mt-3">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Password Policy</label>
                                    <div class="col-sm-8">
                                        <div class="form-check-inline my-2">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" asp-for="Number" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                                <label class="custom-control-label" for="Number">ตัวเลข</label>
                                            </div>
                                        </div>
                                        <div class="form-check-inline my-2">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" asp-for="Lower" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                                <label class="custom-control-label" for="Lower">ตัวเล็ก</label>
                                            </div>
                                        </div>
                                        <div class="form-check-inline my-2">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" asp-for="Upper" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                                <label class="custom-control-label" for="Upper">ตัวใหญ่</label>
                                            </div>
                                        </div>
                                        @Html.ValidationMessage("Condition")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">จำนวนตัวอักษร</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" asp-for="Length" required data-parsley-type="number">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">จำนวน Password ที่ต้องการ Generate</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" asp-for="PasswordCnt" required data-parsley-type="number">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right"></label>
                                    <div class="col-sm-8">
                                        <button class="btn btn-primary" type="submit">Generate</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
            <!-- end col -->
        </div>
    </form>
    @if (Model.Passwords.Count() > 0)
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body mt-3">
                        <div class="table-rep-plugin">
                            <div class="table-responsive mb-0" data-pattern="priority-columns">
                                <table id="tech-companies-1" class="table table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th>รหัสผ่าน</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Passwords)
                                        {
                                            <tr>
                                                <td>@item</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
            <!-- end col -->
        </div>
    }


    <!-- end row -->

</div><!-- container -->
